

<div>
  <div id="preloader" [hidden]="loading" style="backdrop-filter: blur(5px); background: none">
    <div id="status">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>

  <div class="main-content">

    <div class="page-content">

      <!-- START SIGN-UP -->
      <section class="bg-auth">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12">
              <div class="card auth-box">
                <div class="row align-items-center">
                  <div class="col-lg-6 text-center">
                    <div class="card-body p-4">
                      <a href="index.html">
                        <img src="assets/images/logo-light.png" alt="" class="logo-light">
                        <img src="assets/images/logo-dark.png" alt="" class="logo-dark">
                      </a>
                      <div class="mt-5">
                        <img src="assets/images/auth/sign-up.png" alt="" class="img-fluid">
                      </div>
                    </div>
                  </div><!--end col-->
                  <div class="col-lg-6">
                    <div class="auth-content card-body p-5 text-white">
                      <div class="w-100">
                        <div class="text-center">
                          <h5>Let's Get Started</h5>
                          <p class="text-white-70">Sign Up and get access to all the features of Jobcy</p>
                        </div>
                        <form action="index.html" class="auth-form" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
                          <div class="mb-3">
                            <label for="usernameInput" class="form-label">Username</label>
                            <input type="text" class="form-control" id="usernameInput" placeholder="Enter your username"
                                   formControlName="name" ngModel (change)="checkName(name.value)" #name>
                          </div>
                          <p *ngIf="formRegister.get('name')?.errors?.['required'] && formRegister.get('name')?.touched"
                            style="color: orange; margin-top: 10px">Required</p>
                          <div class="mb-3">
                            <label for="emailInput" class="form-label">Email</label>
                            <input type="email" class="form-control" id="emailInput" placeholder="Enter your email"
                                   formControlName="email" ngModel (change)="checkEmail(mail.value)" #mail>
                          </div>
                          <p *ngIf="formRegister.get('email')?.errors?.['required'] && formRegister.get('email')?.touched"
                             style="color: orange; margin-top: 10px">Required</p>
                          <p *ngIf="formRegister.get('email')?.errors?.['pattern'] && formRegister.get('email')?.touched"
                             style="color: orange; margin-top: 10px">Email must exactly pattern</p>
                          <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="Enter your address"
                                   formControlName="address" ngModel>
                          </div>
                          <div class="mb-3">
                            <label for="shortName" class="form-label">Short Name</label>
                            <input type="text" class="form-control" id="shortName" placeholder="Enter your address"
                                   formControlName="shortName" ngModel>
                          </div>
                          <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea type="text" class="form-control" id="description" placeholder="Enter your description"
                                   formControlName="description" ngModel>
                            </textarea>
                          </div>
                          <div class="mb-3">
                          <div>
                          <label for="role" class="form-label" hidden>Role</label>
                          <div class="mb-3" formGroupName="role" id="role" hidden>
                            <select class="form-control" formControlName="id">
                              <option *ngFor="let r of role" [value]="r.id" style="color: blue"
                                [selected]="selectedOption">{{r.name}}</option>
                            </select>
                          </div>
                            <div class="mb-3">
                              <label for="avatar" class="form-label">Avatar</label>
                              <input type="file" class="form-control" id="avatar" formControlName="avatar" ngModel
                                     (change)="submitAvatar($event)">
                              <!--                            <img src="{{path}}" alt="" width="100px" height="100px" >-->
                            </div>
<!--                            <label for="status" class="form-label">Status</label>-->
<!--                            <div class="mb-3" id="status" >-->
<!--                              <input type="checkbox" value="true" formControlName="status">Active-->
<!--                              <input type="checkbox" value="false" formControlName="status">Deactivate-->
<!--                            </div>-->
<!--                          <div class="mb-4">-->
<!--                            <div class="form-check"><input class="form-check-input" type="checkbox"-->
<!--                                                           id="flexCheckDefault">-->
<!--                              <label class="form-check-label" for="flexCheckDefault">I agree to the <a-->
<!--                                href="javascript:void(0)" class="text-white text-decoration-underline">Terms and-->
<!--                                conditions</a></label>-->
<!--                            </div>-->
<!--                          </div>-->
                          <div class="text-center">
                            <button type="submit" class="btn btn-white btn-hover w-100">Accept</button>
                          </div>
                          </div>
                          </div>
                        </form>
                        <div class="mt-3 text-center">
                          <p class="mb-0">Already a member ? <a href="" routerLink="/login"
                                                                class="fw-medium text-white text-decoration-underline">
                            Sign In </a></p>
                        </div>
                      </div>
                    </div>
                  </div><!--end col-->
                </div><!--end row-->
              </div><!--end auth-box-->
            </div><!--end col-->
          </div><!--end row-->
        </div><!--end container-->
      </section>
      <!-- END SIGN-UP -->

    </div>
    <!-- End Page-content -->

  </div>
  <!-- end main content-->


<!-- END layout-wrapper -->
</div>


<p-toast></p-toast>
<p-toast position="top-left" key="tc"></p-toast>
<p-toast position="top-center" key="ab"></p-toast>
<p-toast position="top-right" key="abc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<p-toast>
  <div class="card">
    <h5>Severities</h5>
    <button type="button" pButton pRipple (click)="showSuccess()" label="Success" class="p-button-success mb-2"></button>
    <button type="button" pButton pRipple (click)="showInfo()" label="Info" class="p-button-info mb-2"></button>
    <button type="button" pButton pRipple (click)="showWarn()" label="Warn" class="p-button-warning mb-2"></button>
    <button type="button" pButton pRipple (click)="showError()" label="Error" class="p-button-danger mb-2"></button>
    <h5>Clear</h5>
    <button type="button" pButton pRipple (click)="clear()" icon="pi pi-times" label="Clear"></button>
    <h5>Template</h5>
    <button type="button" pButton pRipple (click)="showConfirm()" label="Confirm" class="ui-button-warning"></button>
  </div>
</p-toast>

