:host ::ng-deep iframe {
  width: 100% !important;
  height: 250px !important;
}

:host ::ng-deep .p-toast-message-custom {
  border-color: #766df4;

  background-color: rgba(118,109,244,.15)!important;
  color: #766df4!important;
}

:host ::ng-deep .p-toast-icon-close {
  color: #2c1e30;
}
