<app-header></app-header>
<div class="page-content">

  <div id="preloader" [hidden]="loading">
    <div id="status">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>

  <!-- Start home -->
  <section class="page-title-box">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="text-center text-white">
            <h3 class="mb-4">{{company.name}}</h3>
            <div class="page-next">
              <nav class="d-inline-block" aria-label="breadcrumb text-center">
                <ol class="breadcrumb justify-content-center">
                  <li class="breadcrumb-item"><a href="" routerLink="">Home</a></li>
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Company Profile</a></li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!-- end home -->

  <!-- START SHAPE -->
  <div class="position-relative" style="z-index: 1">
    <div class="shape">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
        <path fill="#FFFFFF" fill-opacity="1"
              d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
      </svg>
    </div>
  </div>
  <!-- END SHAPE -->


  <!-- START PROFILE -->
  <section class="section">

    <div class="container">
      <div class="alert bg-soft-primary alert-dismissible fade show" role="alert" [hidden]="edited">
        Profile Update Successfully !
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card profile-sidebar me-lg-4">
            <div class="card-body p-4">
              <div class="text-center pb-4 border-bottom">
                <img
                  src="{{company.avatar?company.avatar:'https://res.cloudinary.com/dunsguide/image/upload/b_white,c_pad,d_defaults:default_company_logo.png,dpr_auto,h_180,w_180/v1/defaults/default_company_logo.png'}}"
                  alt=""
                  class="avatar-lg img-thumbnail rounded-circle mb-4"/>
                <h5 class="mb-0">{{company.name}}</h5>
                <p class="text-muted">{{company.email}}</p>
                <ul class="candidate-detail-social-menu list-inline mb-0">
                  <li class="list-inline-item">
                    <a href="" class="social-link rounded-3 btn-soft-primary"><i
                      class="uil uil-facebook-f"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="javascript:void(0)" class="social-link rounded-3 btn-soft-info"><i
                      class="uil uil-twitter-alt"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="javascript:void(0)" class="social-link rounded-3 btn-soft-success"><i
                      class="uil uil-whatsapp"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="javascript:void(0)" class="social-link rounded-3 btn-soft-danger"><i
                      class="uil uil-phone-alt"></i></a>
                  </li>
                </ul>
              </div>
              <!--end profile-->
              <div class="mt-4 border-bottom pb-4">
                <h5 class="fs-17 fw-bold mb-3">Information</h5>
                <div class="profile-contact">
                  <ul class="list-unstyled mb-0">
                    <li *ngIf="company.shortName">
                      <div class="d-flex">
                        <label>Short Name</label>
                        <div>
                          <p class="text-muted text-break mb-0">
                            {{company.shortName}}
                          </p>
                        </div>
                      </div>
                    </li>
                    <li *ngIf="company.code" >
                      <div class="d-flex">
                        <label>Code</label>
                        <div>
                          <p class="text-muted mb-0">{{company.code}}</p>
                        </div>
                      </div>
                    </li>
                    <li *ngIf="company.numberOfEmployees">
                      <div class="d-flex">
                        <label>Size</label>
                        <div>
                          <p class="text-muted mb-0">{{company.numberOfEmployees}} <i
                            class="mdi mdi-human-male-male"></i></p>
                        </div>
                      </div>
                    </li>
                    <li *ngIf="company.tel">
                      <div class="d-flex">
                        <label>Tel</label>
                        <div>
                          <p class="text-muted mb-0">{{company.tel}}</p>
                        </div>
                      </div>
                    </li>
                    <li *ngIf="company.website">
                      <div class="d-flex">
                        <label>Webiste</label>
                        <div>
                          <p class="text-muted mb-0">{{company.website}}</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!--end document-->
              <div class="mt-4" *ngIf="company.googleMap">
                <h5 class="fs-17 fw-bold mb-3">Location</h5>
                <div [innerHTML]="ggMap"></div>
              </div>
              <!--end contact-details-->
            </div>
            <!--end card-body-->
          </div>
          <!--end profile-sidebar-->
        </div>
        <!--end col-->
        <div class="col-lg-8">
          <div class="card profile-content-page mt-4 mt-lg-0">
            <ul class="profile-content-nav nav nav-pills border-bottom mb-4" id="pills-tab"
                role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="overview-tab" data-bs-toggle="pill"
                        data-bs-target="#overview" type="button" role="tab" aria-controls="overview"
                        aria-selected="true">
                  Overview
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="settings-tab" data-bs-toggle="pill"
                        data-bs-target="#settings" type="button" role="tab" aria-controls="settings"
                        aria-selected="false">
                  Settings
                </button>
              </li>
            </ul>
            <!--end profile-content-nav-->
            <div class="card-body p-4">
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="overview" role="tabpanel"
                     aria-labelledby="overview-tab">
                  <div class="candidate-portfolio mb-5">
                    <div class="row g-3">
                      <div class="col-lg-12">
                        <div class="candidate-portfolio-box card border-0">
                          <img
                            src="{{company.banner? company.banner: 'https://images.unsplash.com/photo-1529400971008-f566de0e6dfc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80'}}"
                            class="img-fluid" height="450" width="800">
                          <div class="bg-overlay"></div>
                          <div class="zoom-icon">
                            <a
                              href="{{company.banner? company.banner: 'https://images.unsplash.com/photo-1529400971008-f566de0e6dfc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80'}}"
                              class="image-popup text-white"
                              data-title="Project Leader"
                              data-description="There are many variations of passages of available, but the majority alteration in some form."><i
                              class="uil uil-search-alt"></i></a>
                          </div>
                        </div>
                      </div><!-- end col -->
                    </div><!-- end row -->
                  </div><!-- end portfolio -->
                  <div>
                    <h5 class="fs-18 fw-bold">Description</h5>
                    <p class="text-muted mt-4">
                      {{company.description}}
                    </p>
                    <div class="mt-4" *ngIf="categories.length!=0">
                      <h5 class="fs-18 fw-bold">Categories</h5>
                      <span class="badge fs-13 bg-soft-blue mt-2"
                            *ngFor="let c of categories"
                      > {{c.name}}</span>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                  <form [formGroup]="formCompany" (ngSubmit)="onSubmit()">
                    <input type="text" class="form-control" formControlName="id" hidden/>
                    <div>
                      <h5 class="fs-17 fw-semibold mb-3 mb-0">Company Account</h5>
                      <div class="text-center">
                        <div class="mb-4 profile-user">
                          <img
                            src="{{path?path:'https://res.cloudinary.com/dunsguide/image/upload/b_white,c_pad,d_defaults:default_company_logo.png,dpr_auto,h_180,w_180/v1/defaults/default_company_logo.png'}}"
                            class="rounded-circle img-thumbnail profile-img"
                            id="profile-img" alt="">
                          <div class="p-0 rounded-circle profile-photo-edit">
                            <input id="profile-img-file-input" type="file" class="profile-img-file-input"
                                   (change)="previewAvatar($event)" required>
                            <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                              <i class="uil uil-edit"></i>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                        <div class="mb-3">
                          <label for="Name" class="form-label">Name*</label>
                          <input type="text" class="form-control" id="Name" formControlName="name"/>
                        </div>
                        <div *ngIf="formCompany.get('name')?.errors?.['required'] && formCompany.get('name')?.touched"
                             class="alert  bg-soft-danger" role="alert">
                          Required!
                        </div>
                      </div>
                      <input type="text" class="form-control" formControlName="code" hidden/>
                      <!--end col-->
                      <div class="col-lg-6">
                        <div class="mb-3">
                          <label for="shortName" class="form-label">Short Name</label>
                          <input type="text" class="form-control" id="shortName" formControlName="shortName"/>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-lg-12">
                        <div class="mb-3">
                          <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" formControlName="email" readonly/>
                          </div>
                        </div>
                      </div>
                      <!--end col-->
<!--                        <div class="col-lg-12">-->
<!--                          <div class="mb-3">-->
<!--                            <label for="choices-single-location" class="form-label">Account Type</label>-->
<!--                            <select class="form-select"-->
<!--                                    data-trigger-->
<!--                                    name="choices-single-location"-->
<!--                                    id="choices-single-location"-->
<!--                                    aria-label="Default select example" aria-multiselectable="true"-->
<!--                                    multiple-->
<!--                            >-->
<!--                              <option *ngFor="let cc of allCategories" value="{{cc.id}}">{{cc.name}} </option>-->
<!--                              <option>demo</option>-->
<!--                              <option>demo</option>-->
<!--                              <option>demo</option>-->
<!--                            </select>-->
<!--                          </div>-->
<!--                        </div>-->
                      <div class="col-lg-6">
                        <div class="mb-3">
                          <input type="password" class="form-control" id="password" formControlName="password"
                                 hidden/>
                        </div>
                      </div>
                      <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end account-->
                <div class="mt-4">
                  <h5 class="fs-17 fw-semibold mb-3">Description</h5>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mb-3">
                        <label for="description"
                               class="form-label">Introduce Your Company</label>
                        <textarea class="form-control" id="description"
                                  rows="5"
                                  formControlName="description"
                        ></textarea>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address"
                               formControlName="address"
                        />
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="numberOfEmployees" class="form-label">Company Size</label>
                        <input type="number" class="form-control" id="numberOfEmployees"
                               formControlName="numberOfEmployees"
                        />
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-12">
                      <div class="mb-3">
                        <label for="googleMap" class="form-label">Google Map Link</label>
                        <input type="text" class="form-control" id="googleMap"
                               formControlName="googleMap"
                        />
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
                <!--end profile-->
                <div class="mt-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="tel" class="form-label">Tel</label>
                        <input type="text" class="form-control" id="tel"
                               formControlName="tel"
                        />
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="website" class="form-label">Website</label>
                        <input type="text" class="form-control" id="website"
                               formControlName="website"
                        />
                      </div>
                    </div>
                    <!--end col-->
                    <div class="mb-3" formGroupName="role">
                      <input type="text" class="form-control"
                             formControlName="id" hidden/>
                    </div>
                    <input type="text" class="form-control"
                           formControlName="status" hidden/>
                    <input type="text" class="form-control"
                           formControlName="banner" hidden/>
                  </div>
                  <!--end row-->
                </div>
                <div class="mt-4 text-end">
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
                </form>
                <!--end form-->
              </div>
              <!--end tab-pane-->
            </div>
            <!--end tab-content-->
          </div>
          <!--end card-body-->
        </div>
        <!--end profile-content-page-->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
</div>
<!--end container-->
</section>
<!-- END PROFILE -->

</div>
<!-- End Page-content -->
<app-footer></app-footer>
