<app-header></app-header>
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4">Company List</h3>
          <div class="page-next">
            <nav class="d-inline-block" aria-label="breadcrumb text-center">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="" routerLink="">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Company List</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- end home -->

<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1"
            d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->


<!-- START COMPANY-LIST -->
<section class="section">
  <div class="container">
    <div class="row align-items-center mb-4">
      <div class="col-lg-8">

      </div><!--end col-->

      <div class="col-lg-4">
        <div class="candidate-list-widgets">
          <div class="row">
            <div class="col-lg-6">
              <div class="selection-widget">
                <select class="form-select" data-trigger name="choices-single-filter-orderby"
                        id="choices-single-filter-orderby" aria-label="Default select example">
                  <option value="df">Default</option>
                  <option value="ne">Newest</option>
                  <option value="od">Oldest</option>
                  <option value="rd">Random</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="selection-widget mt-2 mt-lg-0">
                <select class="form-select" data-trigger name="choices-candidate-page" id="choices-candidate-page"
                        aria-label="Default select example" [(ngModel)]="itemsPerPage">
                  <option [ngValue]="100">All</option>
                  <option [ngValue]=3>3 per Page</option>
                  <option [ngValue]="6">6 per Page</option>
                </select>
              </div>
            </div>
          </div>
        </div><!--end candidate-list-widgets-->
      </div><!--end col-->
    </div><!--end row-->
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let c of companies | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
        <div class="card text-center mb-4">
          <div class="card-body px-4 py-5">
            <img height="55" width="55" src="{{c.company?.avatar? c.company?.avatar : 'https://res.cloudinary.com/dunsguide/image/upload/b_white,c_pad,d_defaults:default_company_logo.png,dpr_auto,h_180,w_180/v1/defaults/default_company_logo.png'}}" alt="" class="img-fluid rounded-3">
            <div class="mt-4">
              <a href="" [routerLink]="['/company-detail/',c.company?.id]" class="primary-link"><h6 class="fs-18 mb-2">{{c.company?.name}}</h6></a>
              <p class="text-muted mb-4">{{c.company?.address}}</p>
              <a href="" [routerLink]="['/company-detail/',c.company?.id]" class="btn btn-primary">Tổng số lượng job</a>
            </div>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->

    <!--    phân trang-->
    <div class="row">
      <pagination-controls class="text-center" (pageChange)="p = $event">
      </pagination-controls>
    </div><!-- end row -->
    <!--    phân trang end-->

  </div><!--end container-->
</section>
<!-- END COMPANY-LIST -->

<app-footer></app-footer>
