:host ::ng-deep .ngx-pagination .current {
  border-radius: 40px;
  background-color: #766df4;
  border-color: #766df4;
  height: 40px;
  width: 40px;
  font-size: 18px;
  padding-top: 7px;
}

:host ::ng-deep .ngx-pagination a, .ngx-pagination button {
  color: #0a0a0a;
  display: block;
  padding: 0.1875rem 0.625rem;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
}
