
    <div class="page-content">

      <div id="preloader" [hidden]="loading" style="backdrop-filter: blur(5px); background: none">
        <div id="status">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>

      <!-- START SIGN-IN -->
      <section class="bg-auth">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12">
              <div class="card auth-box">
                <div class="row g-0">
                  <div class="col-lg-6 text-center">
                    <div class="card-body p-4">
                      <a href="index.html">
                        <img src="assets/images/logo-light.png" alt="" class="logo-light">
                        <img src="assets/images/logo-dark.png" alt="" class="logo-dark">
                      </a>
                      <div class="mt-5">
                        <img src="assets/images/auth/sign-in.png" alt="" class="img-fluid">
                      </div>
                    </div>
                  </div><!--end col-->
                  <div class="col-lg-6">
                    <div class="auth-content card-body p-5 h-100 text-white">
                      <div class="w-100">
                        <div class="text-center mb-4">
                          <h5>Welcome Back !</h5>
                          <p class="text-white-70">Sign in to continue to Jobcy.</p>
                        </div>
                        <form action="index.html" class="auth-form" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                          <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Enter your email" formControlName="email" ngModel>
                          </div>
                          <p *ngIf="formLogin.get('email')?.errors?.['required'] && formLogin.get('email')?.touched" style="color: orange; margin-top: 10px">Required</p>
                          <p *ngIf="formLogin.get('email')?.errors?.['pattern'] && formLogin.get('email')?.touched" style="color: orange; margin-top: 10px">Must have pattern email</p>
                          <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="{{showPassFields?'password':'text'}}" class="form-control" id="password" placeholder="Enter your password" formControlName="password" ngModel><span><i class="fas fa-eye"></i></span>
                          </div>
                          <p *ngIf="formLogin.get('password')?.errors?.['required'] && formLogin.get('password')?.touched" style="color: orange; margin-top: 10px">Required</p>
<!--                          <div class="mb-4">-->
<!--                            <div class="form-check"><input class="form-check-input" type="checkbox" id="flexCheckDefault">-->
<!--                              <a href="reset-password.html" class="float-end text-white">Forgot Password?</a>-->
<!--                              <label class="form-check-label" for="flexCheckDefault">Remember me</label>-->
<!--                            </div>-->
<!--                          </div>-->
                          <div class="col-lg-12">
                            <div class="form-check">
                              <input (click)="showPass()" class="form-check-input" type="checkbox" value=""
                                     id="verification" />
                              <label class="form-check-label" for="verification">
                                Show password
                              </label>
                            </div>
                          </div>
                          <br/>
                          <div class="text-center">
                            <button type="submit" class="btn btn-white btn-hover w-100">Sign In</button>
                          </div>
                        </form>
                        <div class="mt-4 text-center">
                          <p class="mb-0">Don't have an account ?
                            <br>
                            Sign Up For
                            <a href="" routerLink="/registerC" class="fw-medium text-white text-decoration-underline">  Candidate </a> or
                            <a href="" routerLink="/register" class="fw-medium text-white text-decoration-underline"> Company</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div><!--end col-->
                </div><!--end row-->
              </div><!--end auth-box-->
            </div><!--end col-->
          </div><!--end row-->
        </div><!--end container-->
      </section>
      <!-- END SIGN-IN -->

    </div>

    <p-toast></p-toast>
    <p-toast position="top-left" key="tc"></p-toast>
    <p-toast position="top-right" key="td"></p-toast>
    <p-toast position="top-center" key="ab"></p-toast>
    <p-toast position="bottom-center" key="bc"></p-toast>
    <p-toast>
    <div class="card">
      <h5>Severities</h5>
      <button type="button" pButton pRipple (click)="showSuccess()" label="Success" class="p-button-success mb-2"></button>
      <button type="button" pButton pRipple (click)="showInfo()" label="Info" class="p-button-info mb-2"></button>
      <button type="button" pButton pRipple (click)="showWarn()" label="Warn" class="p-button-warning mb-2"></button>
      <button type="button" pButton pRipple (click)="showError()" label="Error" class="p-button-danger mb-2"></button>
      <h5>Clear</h5>
      <button type="button" pButton pRipple (click)="clear()" icon="pi pi-times" label="Clear"></button>
    </div>
    </p-toast>
