<app-header></app-header>
<div class="page-content">

  <!-- Start home -->
  <section class="page-title-box">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="text-center text-white">
            <h3 class="mb-4">{{company.name}}</h3>
            <div class="page-next">
              <nav class="d-inline-block" aria-label="breadcrumb text-center">
                <ol class="breadcrumb justify-content-center">
                  <li class="breadcrumb-item"><a href="" routerLink="">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">company details</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!-- end home -->

  <!-- START SHAPE -->
  <div class="position-relative" style="z-index: 1">
    <div class="shape">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
        <path fill="#FFFFFF" fill-opacity="1"
              d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
      </svg>
    </div>
  </div>
  <!-- END SHAPE -->


  <!-- START CANDIDATE-DETAILS -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card side-bar">
            <div class="card-body p-4">
              <div class="candidate-profile text-center">
                <img src="{{company.avatar? company.avatar: 'https://res.cloudinary.com/dunsguide/image/upload/b_white,c_pad,d_defaults:default_company_logo.png,dpr_auto,h_180,w_180/v1/defaults/default_company_logo.png'}}" alt="" class="avatar-lg rounded-circle">
                <h6 class="fs-18 mb-1 mt-4">{{company.name}}</h6>
                <p class="text-muted mb-4">{{company.email}}</p>
                <ul class="candidate-detail-social-menu list-inline mb-0">
                  <li class="list-inline-item">
                    <a href="javascript:void(0)" class="social-link"><i class="uil uil-twitter-alt"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="javascript:void(0)" class="social-link"><i class="uil uil-whatsapp"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="javascript:void(0)" class="social-link"><i class="uil uil-phone-alt"></i></a>
                  </li>
                </ul>
              </div>
            </div><!--end candidate-profile-->

            <div class="candidate-profile-overview  card-body border-top p-4">
              <h6 class="fs-17 fw-medium mb-3">Profile Overview</h6>
              <ul class="list-unstyled mb-0">
                <li *ngIf="company.shortName" >
                  <div class="d-flex">
                    <label class="text-dark">Short Name</label>
                    <div>
                      <p class="text-muted mb-0">{{company.shortName}}</p>
                    </div>
                  </div>
                </li>
                <li *ngIf="company.code">
                  <div class="d-flex">
                    <label class="text-dark">Code</label>
                    <div>
                      <p class="text-muted mb-0">{{company.code}}</p>
                    </div>
                  </div>
                </li>
                <li *ngIf="company.numberOfEmployees" >
                  <div class="d-flex">
                    <label class="text-dark">Employees</label>
                    <div>
                      <p class="text-muted mb-0">{{company.numberOfEmployees}}</p>
                    </div>
                  </div>
                </li>
                <li *ngIf="company.address" >
                  <div class="d-flex">
                    <label class="text-dark">Address</label>
                    <div>
                      <p class="text-muted mb-0">{{company.address}}</p>
                    </div>
                  </div>
                </li>
                <li *ngIf="company.website" >
                  <div class="d-flex">
                    <label class="text-dark">Website</label>
                    <div>
                      <p class="text-muted text-break mb-0">{{company.website}}</p>
                    </div>
                  </div>
                </li>
                <li *ngIf="company.tel" >
                  <div class="d-flex">
                    <label class="text-dark">Tel</label>
                    <div>
                      <p class="text-muted text-break mb-0">{{company.tel}}</p>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-danger btn-hover w-100"><i class="uil uil-phone"></i>
                  Contact</a>
              </div>
            </div><!--candidate-profile-overview-->
            <div class="card-body p-4 border-top">
              <div class="ur-detail-wrap">
                <div class="ur-detail-wrap-header">
                  <h6 class="fs-17 fw-medium mb-3">Working Days</h6>
                </div>
                <div class="ur-detail-wrap-body">
                  <ul class="working-days">
                    <li>Monday<span>9AM - 5PM</span></li>
                    <li>Tuesday<span>9AM - 5PM</span></li>
                    <li>Wednesday<span>9AM - 5PM</span></li>
                    <li>Thursday<span>9AM - 5PM</span></li>
                    <li>Friday<span>9AM - 5PM</span></li>
                    <li>Saturday<span>9AM - 5PM</span></li>
                    <li>Sunday<span class="text-danger">Close</span></li>
                  </ul>
                </div>
              </div>
            </div><!--end card-body-->
            <div *ngIf="company.googleMap" class="card-body p-4 border-top">
              <h6 class="fs-17 fw-medium mb-4">Company Location</h6>
              <div [innerHTML]="ggMap"></div>
            </div>
          </div><!--end card-->
        </div><!--end col-->

        <div class="col-lg-8">
          <div class="card ms-lg-4 mt-4 mt-lg-0">
            <div class="card-body p-4">

              <div class="candidate-portfolio mb-5">
                <div class="row g-3">
                  <div class="col-lg-12">
                    <div class="candidate-portfolio-box card border-0">
                      <img
                        src="{{company.banner? company.banner: 'https://images.unsplash.com/photo-1529400971008-f566de0e6dfc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80'}}"
                        class="img-fluid" height="450" width="800">
                      <div class="bg-overlay"></div>
                      <div class="zoom-icon">
                        <a href="assets/images/blog/img-12.jpg" class="image-popup text-white"
                           data-title="Project Leader"
                           data-description="There are many variations of passages of available, but the majority alteration in some form."><i
                          class="uil uil-search-alt"></i></a>
                      </div>
                    </div>
                  </div><!-- end col -->
                </div><!-- end row -->
              </div><!-- end portfolio -->

              <div class="mb-5">
                <h6 class="fs-17 fw-medium mb-4">About Company</h6>
                <p class="text-muted">{{company.description}}</p>
              </div>

              <div id="currentOpeningJobs" *ngIf="currentOpeningJobs.length != 0">
                <h6 class="fs-17 fw-medium mb-4">Current Opening</h6>
                <div class="job-box card mt-4" *ngFor="let j of currentOpeningJobs">
                  <div class="p-4">
                    <div class="row">
                      <div class="col-lg-2">
                        <img src="{{j.company.avatar?j.company.avatar : 'https://res.cloudinary.com/dunsguide/image/upload/b_white,c_pad,d_defaults:default_company_logo.png,dpr_auto,h_180,w_180/v1/defaults/default_company_logo.png'}}" alt="" class="img-fluid rounded-3">
                      </div>
                      <div class="col-lg-10">
                        <div class="mt-3 mt-lg-0">
                          <h5 class="fs-16 fw-medium mb-1"><a href="" [routerLink]="['/job-detail',j.id]"
                                                              class="text-dark">
                            {{j.title}}
                          </a> <small class="text-muted fw-normal">({{j.expYear}}+ years)</small></h5>
                          <ul class="list-inline mb-0">
                            <li class="list-inline-item" [ngSwitch]="j.gender">
                              <p *ngSwitchCase="1" class="text-muted fs-14 mb-0"><i class="mdi mdi-gender-male"></i>
                                Male</p>
                              <p *ngSwitchCase="2" class="text-muted fs-14 mb-0"><i class="mdi mdi-gender-female"></i>
                                Female</p>
                              <p *ngSwitchCase="3" class="text-muted fs-14 mb-0"><i
                                class="mdi mdi-gender-male-female"></i> Any</p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> {{j.location.name}}
                              </p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-human-male-male"></i> {{j.quantity}}
                                Vacancy</p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-clock-outline"></i> {{j.expiredDate}}</p>
                            </li>
                          </ul>
                          <div class="mt-2">
                            <span
                              class="{{j.type? 'badge bg-soft-success mt-1' : 'badge bg-soft-info mt-1'}}">{{j.type ? 'Full Time' : 'Part Time'}}</span>
                          </div>
                        </div>
                      </div><!--end col-->
                    </div><!--end row-->
                  </div>
<!--                  <div class="p-3 bg-light">-->
<!--                    <div class="row justify-content-between">-->
<!--                      <div class="col-md-8">-->
<!--                        <div>-->
<!--                          <ul class="list-inline mb-0">-->
<!--                            <li class="list-inline-item fw-medium"><i class="uil uil-tag"></i> Categories :</li>-->
<!--                            <li *ngFor="let c of j.categories" class="list-inline-item"><a href="javascript:void(0)" class="primary-link text-muted">{{c.name}}</a>,</li>-->
<!--                            <li class="list-inline-item"><a href="javascript:void(0)" class="primary-link text-muted">developer</a></li>-->
<!--                          </ul>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      &lt;!&ndash;end col&ndash;&gt;-->
<!--                      <div class="col-md-4">-->
<!--                        <div class="text-md-end">-->
<!--                          <a href="#applyNow" data-bs-toggle="modal" class="primary-link">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      &lt;!&ndash;end col&ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash;end row&ndash;&gt;-->
<!--                  </div>-->
                </div><!--end job-box-->
              </div>
            </div><!-- card body end -->
          </div><!--end card-->
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section>
  <!-- END CANDIDATE-DETAILS -->

  <!-- START APPLY MODAL -->
  <div class="modal fade" id="applyNow" tabindex="-1" aria-labelledby="applyNow" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-5">
          <div class="text-center mb-4">
            <h5 class="modal-title" id="staticBackdropLabel">Apply For This Job</h5>
          </div>
          <div class="position-absolute end-0 top-0 p-3">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="mb-3">
            <label for="nameFormControlInput" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameFormControlInput" placeholder="Enter your name">
          </div>
          <div class="mb-3">
            <label for="emailFormControlInput" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="emailFormControlInput" placeholder="Enter your email">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
                      placeholder="Enter your message"></textarea>
          </div>
          <div class="mb-4">
            <label class="form-label" for="inputGroupFile01">Resume Upload</label>
            <input type="file" class="form-control" id="inputGroupFile01">
          </div>
          <button type="submit" class="btn btn-primary w-100">Send Application</button>
        </div>
      </div>
    </div>
  </div><!-- END APPLY MODAL -->

</div>
<!-- End Page-content -->
<app-footer></app-footer>
