<app-header></app-header>
<div class="page-content">

  <!--  loading screen-->
  <div id="preloader" [hidden]="loading" style="backdrop-filter: blur(5px); background: none">
    <div id="status">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>

  <!-- Start home -->
  <section class="page-title-box">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="text-center text-white">
            <h3 class="mb-4">Job List</h3>
            <div class="page-next">
              <nav class="d-inline-block" aria-label="breadcrumb text-center">
                <ol class="breadcrumb justify-content-center">
                  <li class="breadcrumb-item"><a href="" routerLink="">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page"> Job List</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!-- end home -->

  <!-- START SHAPE -->
  <div class="position-relative" style="z-index: 1">
    <div class="shape">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
        <path fill="#FFFFFF" fill-opacity="1"
              d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
      </svg>
    </div>
  </div>
  <!-- END SHAPE -->


  <!-- START JOB-LIST -->
  <section class="section">
    <div class="container">
      <div class="alert bg-soft-success alert-dismissible fade show" role="alert" [hidden]="alertApply">
        Your job application is withheld for processing!
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <div class="me-lg-5">
            <div class="job-list-header">
<!--              <form action="#">-->
<!--                <div class="row g-2">-->
<!--                  <div class="col-lg-3 col-md-6">-->
<!--                    <div class="filler-job-form">-->
<!--                      <i class="uil uil-briefcase-alt"></i>-->
<!--                      <input type="search" class="form-control filter-job-input-box border border-primary"-->
<!--                             id="exampleFormControlInput1" placeholder="Job, company... "-->
<!--                             name="search" [(ngModel)]="searchText">-->
<!--                    </div>-->
<!--                  </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--                  <div class="col-lg-3 col-md-6">-->
<!--                    <div class="filler-job-form">-->
<!--                      <select class="form-select" data-trigger-->
<!--                              name="choices-single-location"-->
<!--                              aria-label="Default select example">-->
<!--                        <option [value]="">Chose location</option>-->
<!--                        <option [value]="l.id" *ngFor="let l of locations">{{l.name}}</option>-->
<!--                      </select>-->
<!--                    </div>-->
<!--                  </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--                  <div class="col-lg-3 col-md-6">-->
<!--                    <div class="filler-job-form">-->
<!--                      <select class="form-select " data-trigger-->
<!--                              id="choices-single-categories"-->
<!--                              aria-label="Default select example">-->
<!--                        <option [value]="">Chose category</option>-->
<!--                        <option [value]="c.id" *ngFor="let c of categories">{{c.name}}</option>-->
<!--                      </select>-->
<!--                    </div>-->
<!--                  </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--                  <div class="col-lg-3 col-md-6">-->
<!--                    <a href="javascript:void(0)" class="btn btn-primary w-100"><i-->
<!--                      class="uil uil-filter"></i> Filter</a>-->
<!--                  </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--                </div>&lt;!&ndash;end row&ndash;&gt;-->
<!--              </form>-->
              <form [formGroup]="searchJobs" id="formSearchJobTopBar" (ngSubmit)="searchJobsMethod()">
                <div class="row g-2">
                  <div class="col-lg-4 col-md-6">
                    <div class="filler-job-form">
                      <i class="uil uil-briefcase-alt"></i>
                      <input type="search" class="form-control filter-job-input-box border border-primary"
                             id="exampleFormControlInput1" placeholder="Job, company... "
                             name="search" formControlName="text">
                    </div>
                  </div><!--end col-->
                  <div class="col-lg-2 col-md-6">
                    <div class="filler-job-form" formGroupName="location">
                      <select class="form-select" data-trigger
                              name="choices-single-location"
                              aria-label="Default select example"
                              formControlName="l_id">
                        <option value="all_l">Location</option>
                        <option [value]="l.id" *ngFor="let l of locations" >{{l.name}}</option>
                      </select>
                    </div>
                  </div><!--end col-->
                  <div class="col-lg-2 col-md-6">
                    <div class="filler-job-form" formGroupName="category">
                      <select class="form-select " data-trigger
                              id="choices-single-categories"
                              aria-label="Default select example"
                              formControlName="c_id">
                        <option value="all_c">Category</option>
                        <option [value]="c.id" *ngFor="let c of categories" >{{c.name}}</option>
                      </select>
                    </div>
                  </div><!--end col-->
                  <div class="col-lg-2 col-md-6">
                    <button class="btn btn-soft-primary w-100" type="submit" ><i
                      class="uil uil-filter"></i> Filter</button>
                  </div><!--end col-->
                  <div class="col-lg-2 col-md-6">
                    <a class="btn btn-soft-dark w-100" (click)="reset()" ><i
                      class="mdi mdi-repeat"></i> Reset</a>
                  </div><!--end col-->
                </div><!--end row-->
              </form>
            </div><!--end job-list-header-->
<!--            <div class="wedget-popular-title mt-4">-->
<!--              <h6>Popular</h6>-->
<!--              <ul class="list-inline">-->
<!--                <li class="list-inline-item">-->
<!--                  <div class="popular-box d-flex align-items-center">-->
<!--                    <div class="number flex-shrink-0 me-2">-->
<!--                      20-->
<!--                    </div>-->
<!--                    <a href="javascript:void(0)" class="primary-link stretched-link"><h6 class="fs-14 mb-0">UI/UX-->
<!--                      designer</h6></a>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="list-inline-item">-->
<!--                  <div class="popular-box d-flex align-items-center">-->
<!--                    <div class="number flex-shrink-0 me-2">-->
<!--                      18-->
<!--                    </div>-->
<!--                    <a href="javascript:void(0)" class="primary-link stretched-link"><h6 class="fs-14 mb-0">HR-->
<!--                      manager</h6></a>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="list-inline-item">-->
<!--                  <div class="popular-box d-flex align-items-center">-->
<!--                    <div class="number flex-shrink-0 me-2">-->
<!--                      10-->
<!--                    </div>-->
<!--                    <a href="javascript:void(0)" class="primary-link stretched-link"><h6 class="fs-14 mb-0">Product-->
<!--                      manager</h6></a>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="list-inline-item">-->
<!--                  <div class="popular-box d-flex align-items-center">-->
<!--                    <div class="number flex-shrink-0 me-2">-->
<!--                      15-->
<!--                    </div>-->
<!--                    <a href="javascript:void(0)" class="primary-link stretched-link"><h6 class="fs-14 mb-0">Sales-->
<!--                      manager</h6></a>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="list-inline-item">-->
<!--                  <div class="popular-box d-flex align-items-center">-->
<!--                    <div class="number flex-shrink-0 me-2">-->
<!--                      28-->
<!--                    </div>-->
<!--                    <a href="javascript:void(0)" class="primary-link stretched-link"><h6 class="fs-14 mb-0">-->
<!--                      Developer</h6></a>-->
<!--                  </div>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>&lt;!&ndash;end wedget-popular-title&ndash;&gt;-->
            <!-- Job-list -->
            <div>
              <div *ngIf="role == 3">
                <div class="job-box bookmark-post card mt-4"
                     *ngFor="let j of displayJobs.reverse() | paginate: { itemsPerPage: 5, currentPage: p }| search: searchText,index as i">
                  <div class="p-4">
                    <div class="row align-items-center">
                      <div class="col-md-2">
                        <div class="text-center mb-4 mb-md-0">
                          <a href="" [routerLink]="['/company-detail/',j.company.id]"><img
                            width="55" height ="55"
                            src="{{j.company.avatar?j.company.avatar:'https://res.cloudinary.com/dunsguide/image/upload/b_white,c_pad,d_defaults:default_company_logo.png,dpr_auto,h_180,w_180/v1/defaults/default_company_logo.png'}}"
                            alt=""
                            class="img-fluid rounded-3"></a>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-3">
                        <div class="mb-2 mb-md-0">
                          <h5 class="fs-18 mb-0"><a [routerLink]="['/job-detail', j.id]"
                                                    class="text-dark">{{j.title}}</a>
                          </h5>
                          <p class="text-muted fs-14 mb-0">{{j.company.name}}</p>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-3">
                        <div class="d-flex mb-2">
                          <div class="flex-shrink-0">
                            <i class="mdi mdi-map-marker text-primary me-1"></i>
                          </div>
                          <p class="text-muted mb-0">{{j.location.name}}</p>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-2">
                        <div>
                          <p class="text-muted mb-2"><span class="text-primary">$</span>{{j.salaryMin}}-{{j.salaryMax}}
                            /m
                          </p>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-2">
                        <div>
                          <span class="badge bg-soft-danger fs-13 mt-1" *ngIf="j.type">Full time</span>
                          <span class="badge bg-soft-purple fs-13 mt-1" *ngIf="!j.type">Part time</span>
                        </div>
                      </div>
                      <!--end col-->
                    </div>
                    <!--end row-->
                  </div>
                  <div class="p-3 bg-light">
                    <div class="row justify-content-between">
                      <div class="col-md-5">
                        <div>
                          <p class="text-muted mb-0"><span
                            class="text-dark">Experience :</span> {{j.expYear==0?'Not Required':j.expYear + '+ years'}}</p>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-5">
                        <div>
                          <p class="text-muted mb-0"><span
                            class="text-dark">Category :</span> {{j.category.name}}</p>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-2" [ngSwitch]="j.gender">
                        <div *ngSwitchCase="1">
                          <p class="text-muted mb-0"><span
                            class="text-dark">Gender :</span> Male</p>
                        </div>
                        <div *ngSwitchCase="2">
                          <p class="text-muted mb-0"><span
                            class="text-dark">Gender :</span> Female</p>
                        </div>
                        <div *ngSwitchCase="3">
                          <p class="text-muted mb-0"><span
                            class="text-dark">Gender :</span> Any</p>
                        </div>
                      </div>
                      <!--end col-->
                      <!--                      <div class="col-lg-2 col-md-3">-->
                      <!--                        <div *ngIf="role == 3">-->
                      <!--                          <a *ngIf="!checkApplyJob[i]" href="#applyNow" data-bs-toggle="modal" class="primary-link"-->
                      <!--                             (click)="applyJobId(j)">Apply Now <i-->
                      <!--                            class="mdi mdi-chevron-double-right"></i></a>-->
                      <!--                          <span *ngIf="checkApplyJob[i] && !checkApplyAccept[i]"-->
                      <!--                                class="badge bg-soft-danger fs-13 mt-1">Waiting</span>-->
                      <!--                          <span *ngIf="checkApplyJob[i] && checkApplyAccept[i]"-->
                      <!--                                class="badge bg-soft-success fs-13 mt-1">Accepted</span>-->
                      <!--                        </div>-->
                      <!--                      </div>-->
                      <!--end col-->
                    </div>
                    <!--end row-->
                  </div>
                </div>
                <!--end job-box-->
              </div>
              <div *ngIf="role == 2||role == 1">
                <div class="job-box bookmark-post card mt-4"
                     *ngFor="let j of displayJobs.reverse() | paginate: { itemsPerPage: 5, currentPage: p }| search: searchText,index as i">
                  <div class="p-4">
                    <div class="row align-items-center">
                      <div class="col-md-2">
                        <div class="text-center mb-4 mb-md-0">
                          <a href="" [routerLink]="['/company-detail/',j.company.id]"><img
                            width="55" height ="55"
                            src="{{j.company.avatar?j.company.avatar:'https://res.cloudinary.com/dunsguide/image/upload/b_white,c_pad,d_defaults:default_company_logo.png,dpr_auto,h_180,w_180/v1/defaults/default_company_logo.png'}}"
                            alt=""
                            class="img-fluid rounded-3"></a>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-3">
                        <div class="mb-2 mb-md-0">
                          <h5 class="fs-18 mb-0"><a [routerLink]="['/job-detail', j.id]"
                                                    class="text-dark">{{j.title}}</a>
                          </h5>
                          <p class="text-muted fs-14 mb-0">{{j.company.name}}</p>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-3">
                        <div class="d-flex mb-2">
                          <div class="flex-shrink-0">
                            <i class="mdi mdi-map-marker text-primary me-1"></i>
                          </div>
                          <p class="text-muted mb-0">{{j.location.name}}</p>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-2">
                        <div>
                          <p class="text-muted mb-2"><span class="text-primary">$</span>{{j.salaryMin}}-{{j.salaryMax}}
                            /m
                          </p>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-2">
                        <div>
                          <span class="badge bg-soft-danger fs-13 mt-1" *ngIf="j.type">Full time</span>
                          <span class="badge bg-soft-purple fs-13 mt-1" *ngIf="!j.type">Part time</span>
                        </div>
                      </div>
                      <!--end col-->
                    </div>
                    <!--end row-->
                  </div>
                  <div class="p-3 bg-light">
                    <div class="row justify-content-between">
                      <div class="col-md-5">
                        <div>
                          <p class="text-muted mb-0"><span
                            class="text-dark">Experience :</span> {{j.expYear==0?'Not Required':j.expYear + '+ years'}}</p>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-5">
                        <div>
                          <p class="text-muted mb-0"><span
                            class="text-dark">Category :</span> {{j.category.name}}</p>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-2" [ngSwitch]="j.gender">
                        <div *ngSwitchCase="1">
                          <p class="text-muted mb-0"><span
                            class="text-dark">Gender :</span> Male</p>
                        </div>
                        <div *ngSwitchCase="2">
                          <p class="text-muted mb-0"><span
                            class="text-dark">Gender :</span> Female</p>
                        </div>
                        <div *ngSwitchCase="3">
                          <p class="text-muted mb-0"><span
                            class="text-dark">Gender :</span> Any</p>
                        </div>
                      </div>
                      <!--end col-->
<!--                      <div class="col-lg-2 col-md-3">-->
<!--                        <div *ngIf="role == 3">-->
<!--                          <a *ngIf="!checkApplyJob[i]" href="#applyNow" data-bs-toggle="modal" class="primary-link"-->
<!--                             (click)="applyJobId(j)">Apply Now <i-->
<!--                            class="mdi mdi-chevron-double-right"></i></a>-->
<!--                          <span *ngIf="checkApplyJob[i] && !checkApplyAccept[i]"-->
<!--                                class="badge bg-soft-danger fs-13 mt-1">Waiting</span>-->
<!--                          <span *ngIf="checkApplyJob[i] && checkApplyAccept[i]"-->
<!--                                class="badge bg-soft-success fs-13 mt-1">Accepted</span>-->
<!--                        </div>-->
<!--                      </div>-->
                      <!--end col-->
                    </div>
                    <!--end row-->
                  </div>
                </div>
                <!--end job-box-->
              </div>
              <div *ngIf="role == 0">
                <div class="job-box bookmark-post card mt-4"
                     *ngFor="let j of displayJobs.reverse() | paginate: { itemsPerPage: 5, currentPage: p }|search: searchText,index as i">
                  <div class="p-4">
                    <div class="row align-items-center">
                      <div class="col-md-2">
                        <div class="text-center mb-4 mb-md-0">
                          <a href="" [routerLink]="['/company-detail/',j.company.id]"><img
                            src="{{j.company.avatar?j.company.avatar:'https://res.cloudinary.com/dunsguide/image/upload/b_white,c_pad,d_defaults:default_company_logo.png,dpr_auto,h_180,w_180/v1/defaults/default_company_logo.png'}}"
                            alt=""
                            class="img-fluid rounded-3"></a>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-3">
                        <div class="mb-2 mb-md-0">
                          <h5 class="fs-18 mb-0"><a [routerLink]="['/job-detail', j.id]"
                                                    class="text-dark">{{j.title}}</a>
                          </h5>
                          <p class="text-muted fs-14 mb-0">{{j.company.name}}</p>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-2 ps-5">
                        <div class="d-flex mb-2">
                          <div class="flex-shrink-0">
                            <i class="mdi mdi-map-marker text-primary me-1"></i>
                          </div>
                          <p class="text-muted mb-0">{{j.location.name}}</p>
                        </div>
                      </div>
                      <div class="col-md-3 ps-5" *ngIf="role != 0">
                        <div class="d-flex mb-2">
                          <div class="flex-shrink-0">
                            <i class="mdi mdi-currency-usd text-primary me-1"></i>
                          </div>
                          <p class="text-muted mb-0">{{j.salaryMin}} - {{j.salaryMax}}</p>
                        </div>
                      </div>
                      <div class="col-md-3 ps-5" *ngIf="role == 0">
                        <div class="d-flex mb-2">
                          <div class="flex-shrink-0">
                            <i class="mdi mdi-human-male-male text-primary me-1"></i>
                          </div>
                          <p class="text-muted mb-0">{{j.quantity}}</p>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-2">
                        <div class="d-flex mb-2">
                          <div class="flex-shrink-0">
                            <i class="mdi mdi-clock-outline text-primary me-1"></i>
                          </div>
                          <p class="text-muted mb-0">{{j.expiredDate}}</p>
                        </div>
                      </div>
                      <!--end col-->
                    </div>
                    <!--end row-->
                  </div>
                  <div class="p-3 bg-light">
                    <div class="row justify-content-between">
                      <div class="col-md-6">
                        <div>
                          <p class="text-muted mb-0"><span
                            class="text-dark">Experience :</span> {{j.expYear==0?'Not Required':j.expYear + '+ years'}}</p>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-4">
                        <div>
                          <p class="text-muted mb-0"><span
                            class="text-dark">Category :</span> {{j.category.name}}</p>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-2">
                        <span class="badge bg-soft-success fs-13 mt-1" *ngIf="j.type">Full time</span>
                        <span class="badge bg-soft-purple fs-13 mt-1" *ngIf="!j.type">Part time</span>
                      </div>
                      <!--end col-->
                    </div>
                    <!--end row-->
                  </div>
                </div>
                <!--end job-box-->
              </div>
            </div>
            <!-- End Job-list -->
            <div class="row">
              <pagination-controls class="text-center mt-5" (pageChange)="p = $event" (click)="scrollTop()">
              </pagination-controls>
            </div><!-- end row -->
          </div>
        </div><!--end col-->

        <!-- START SIDE-BAR -->
        <div class="col-lg-3">
          <div class="side-bar mt-5 mt-lg-0">
            <div class="accordion" id="accordionExample" *ngIf="role != 0">
              <form [formGroup]="filterJobs" id="formFilterJob">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#jobsalary"
                            aria-expanded="false" aria-controls="jobsalary">
                      Offered Salary
                    </button>
                  </h2>
                  <div id="jobsalary" class="accordion-collapse collapse show" aria-labelledby="jobSalary">
                    <div class="accordion-body">
                      <div class="side-title">
                        <div class="form-check mt-2">
                          <input (change)="filterJobsMethod($event)"
                                 value="allsalary"
                                 formControlName="salary"
                                 name="salary"
                                 class="form-check-input" type="radio" id="JobSalaryAll" checked>
                          <label class="form-check-label ms-2 text-muted" for="JobSalaryAll">
                            All
                          </label>
                        </div>
                        <div class="form-check mt-2">
                          <input (change)="filterJobsMethod($event)"
                                 value="less200"
                                 formControlName="salary"
                                 name="salary"
                                 class="form-check-input" type="radio" id="JobSalary1">
                          <label class="form-check-label ms-2 text-muted" for="JobSalary1">
                            Less than $200
                          </label>
                        </div>
                        <div class="form-check mt-2">
                          <input (change)="filterJobsMethod($event)"
                                 value="200-500"
                                 formControlName="salary"
                                 class="form-check-input" type="radio"
                                 name="salary" id="JobSalary2">
                          <label class="form-check-label ms-2 text-muted" for="JobSalary2">
                            $200 - $500
                          </label>
                        </div>
                        <div class="form-check mt-2">
                          <input (change)="filterJobsMethod($event)"
                                 value="500-800"
                                 formControlName="salary"
                                 class="form-check-input" type="radio"
                                 name="salary" id="JobSalary3">
                          <label class="form-check-label ms-2 text-muted" for="JobSalary3">
                            $500 - $800
                          </label>
                        </div>
                        <div class="form-check mt-2">
                          <input (change)="filterJobsMethod($event)"
                                 value="more800"
                                 formControlName="salary"
                                 name="salary"
                                 class="form-check-input" type="radio"
                                 id="JobSalary4">
                          <label class="form-check-label ms-2 text-muted" for="JobSalary4">
                            More than $800
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- end accordion-item -->
                <div class="accordion-item mt-3">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#jobexp"
                            aria-expanded="false" aria-controls="jobexp">
                      Work Experience
                    </button>
                  </h2>
                  <div id="jobexp" class="accordion-collapse collapse show" aria-labelledby="jobExp">
                    <div class="accordion-body">
                      <div class="side-title">
                        <div class="form-check mt-2">
                          <input class="form-check-input"
                                 (change)="filterJobsMethod($event)"
                                 formControlName="years"
                                 name="years"
                                 value="allyears"
                                 type="radio"
                                 id="JobExpAll" checked>
                          <label class="form-check-label ms-2 text-muted" for="JobExpAll">
                            All
                          </label>
                        </div>
                        <div class="form-check mt-2">
                          <input class="form-check-input"
                                 (change)="filterJobsMethod($event)"
                                 formControlName="years"
                                 value="0"
                                 type="radio"
                                 name="years"
                                 id="JobExp1">
                          <label class="form-check-label ms-2 text-muted" for="JobExp1">
                            No Experience
                          </label>
                        </div>
                        <div class="form-check mt-2">
                          <input class="form-check-input"
                                 (change)="filterJobsMethod($event)"
                                 formControlName="years"
                                 value="0-3"
                                 type="radio"
                                 name="years"
                                 id="JobExp2">
                          <label class="form-check-label ms-2 text-muted" for="JobExp2">
                            0 - 3 years
                          </label>
                        </div>
                        <div class="form-check mt-2">
                          <input class="form-check-input"
                                 (change)="filterJobsMethod($event)"
                                 formControlName="years"
                                 value="3-6"
                                 type="radio"
                                 name="years"
                                 id="JobExp3">
                          <label class="form-check-label ms-2 text-muted" for="JobExp3">
                            3 - 6 years
                          </label>
                        </div>
                        <div class="form-check mt-2">
                          <input class="form-check-input"
                                 (change)="filterJobsMethod($event)"
                                 formControlName="years"
                                 value="more6"
                                 type="radio"
                                 name="years"
                                 id="JobExp4">
                          <label class="form-check-label ms-2 text-muted" for="JobExp4">
                            More than 6 years
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- end accordion-item -->
                <div class="accordion-item mt-3">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#jobtype" aria-expanded="false" aria-controls="jobtype">
                      Type of employment
                    </button>
                  </h2>
                  <div id="jobtype" class="accordion-collapse collapse show" aria-labelledby="jobType">
                    <div class="accordion-body">
                      <div class="side-title">
                        <div class="form-check mt-2">
                          <input formControlName="types"
                                 (change)="filterJobsMethod($event)"
                                 value="alltypes"
                                 class="form-check-input" type="radio" name="types" id="JobTypeAll" checked>
                          <label class="form-check-label ms-2 text-muted" for="JobTypeAll">
                            Any
                          </label>
                        </div>
                        <div class="form-check mt-2">
                          <input class="form-check-input"
                                 (change)="filterJobsMethod($event)"
                                 formControlName="types"
                                 value="full"
                                 type="radio"
                                 name="types" id="JobType2">
                          <label class="form-check-label ms-2 text-muted" for="JobType2">
                            Full Time
                          </label>
                        </div>
                        <div class="form-check mt-2">
                          <input formControlName="types"
                                 (change)="filterJobsMethod($event)"
                                 value="part"
                                 class="form-check-input" type="radio"
                                 name="types" id="JobType3">
                          <label class="form-check-label ms-2 text-muted" for="JobType3">
                            Part Time
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- end accordion-item -->
                <div class="accordion-item mt-3">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#jobgender" aria-expanded="false" aria-controls="jobgender">
                      Gender
                    </button>
                  </h2>
                  <div id="jobgender" class="accordion-collapse collapse show" aria-labelledby="jobGender">
                    <div class="accordion-body">
                      <div class="side-title">
                        <div class="form-check mt-2">
                          <input formControlName="gender"
                                 (change)="filterJobsMethod($event)"
                                 value="any"
                                 class="form-check-input" type="radio" name="gender" id="JobGender1" checked>
                          <label class="form-check-label ms-2 text-muted" for="JobGender1">
                            Any
                          </label>
                        </div>
                        <div class="form-check mt-2">
                          <input formControlName="gender"
                                 (change)="filterJobsMethod($event)"
                                 value="male"
                                 class="form-check-input" type="radio" name="gender" id="JobGender2" >
                          <label class="form-check-label ms-2 text-muted" for="JobGender2">
                            Male
                          </label>
                        </div>
                        <div class="form-check mt-2">
                          <input formControlName="gender"
                                 (change)="filterJobsMethod($event)"
                                 value="female"
                                 class="form-check-input" type="radio" name="gender" id="JobGender3" >
                          <label class="form-check-label ms-2 text-muted" for="JobGender3">
                            Female
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- end accordion-item -->

              </form>
            </div><!--end accordion-->

          </div><!--end side-bar-->

          <div *ngIf="role == 0" class="side-bar ms-lg-1">
            <div class="mt-4">
              <div class="text-center">
                <img src="assets/images/contact.png" alt="" class="img-fluid">
              </div>
              <div class="mt-4 pt-3">

                <div class="d-flex text-muted align-items-center mt-2">
                  <div class="flex-shrink-0 fs-22 text-primary">
                    <i class="uil uil-map-marker"></i>
                  </div>
                  <div class="flex-grow-1 ms-2">
                    <p class="mb-0">C0822I1, CodeGym My Dinh, Hanoi, Vietnam</p>
                  </div>
                </div>
                <div class="d-flex text-muted align-items-center mt-2">
                  <div class="flex-shrink-0 fs-22 text-primary">
                    <i class="uil uil-envelope"></i>
                  </div>
                  <div class="flex-grow-1 ms-2">
                    <p class="mb-0">contactus@404team.com</p>
                  </div>
                </div>
                <div class="d-flex text-muted align-items-center mt-2">
                  <div class="flex-shrink-0 fs-22 text-primary">
                    <i class="uil uil-phone-alt"></i>
                  </div>
                  <div class="flex-grow-1 ms-2">
                    <p class="mb-0">(+123) 456 789</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <h6 class="fs-17 fw-medium mb-4">Location</h6>

              <div class="text-center">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.9242911494603!2d105.76602881479187!3d21.035715092917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b9444c676b%3A0xe713200541b7456d!2sCodeGym!5e0!3m2!1sen!2s!4v1676621226422!5m2!1sen!2s"
                  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
          <!--end side-bar-->

        </div><!--end col-->
        <!-- END SIDE-BAR -->
      </div><!--end row-->
    </div><!--end container-->
  </section>
  <!-- END JOB-LIST -->

  <!-- START APPLY MODAL -->
  <div *ngIf="role != 0" class="modal fade" id="applyNow" tabindex="-1" aria-labelledby="applyNow" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form [formGroup]="applyForm">
          <div class="modal-body p-5">
            <div class="text-center mb-4">
              <h5 class="modal-title" id="staticBackdropLabel">Apply For This Job</h5>
            </div>
            <div class="position-absolute end-0 top-0 p-3">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="mb-3">
              <label for="nameControlInput" class="form-label">Name</label>
              <input type="text" class="form-control" id="nameControlInput" readonly [value]="user.name">
            </div>
            <div class="mb-3">
              <label for="emailControlInput2" class="form-label">Email Address</label>
              <input type="email" class="form-control" id="emailControlInput2" readonly [value]="user.email">
            </div>
            <div class="mb-3">
              <label for="tel" class="form-label">Phone number</label>
              <input type="email" class="form-control" id="tel" readonly [value]="user.tel">
            </div>
            <div class="mb-4">
              <label class="form-label" for="cv">Resume Upload</label>
              <input type="file" class="form-control" id="cv" (change)="submitCV($event)">
            </div>
            <button class="btn btn-primary w-100" (click)="apply()">Send Application</button>
            <button type="button" class="btn btn-secondary waves-effect"
                    data-bs-dismiss="modal" #btnModal hidden>Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div><!-- END APPLY MODAL -->

</div>
<!-- End Page-content -->
<app-footer></app-footer>
