<app-header></app-header>
<div class="page-content">


  <!-- Start home -->
  <section class="page-title-box">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="text-center text-white">
            <h3 class="mb-4">Job Grid</h3>
            <div class="page-next">
              <nav class="d-inline-block" aria-label="breadcrumb text-center">
                <ol class="breadcrumb justify-content-center">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                  <li class="breadcrumb-item active" aria-current="page"> Job Grid</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!-- end home -->

  <!-- START SHAPE -->
  <div class="position-relative" style="z-index: 1">
    <div class="shape">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
        <path fill="#FFFFFF" fill-opacity="1"
              d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
      </svg>
    </div>
  </div>
  <!-- END SHAPE -->

  <section class="section">
    <div class="container">
      <div class="row mt-4">
        <div class="col-lg-12" *ngIf="this.jobs.length == 0">
          <div class="mt-4">
            <h6 class="fs-22 text-center">There are no result</h6>
          </div>
        </div>
      </div><!--end col-->
      <div class="row mt-4">
        <div class="col-lg-12" *ngIf="this.jobs.length != 0">
          <div class="mt-4">
            <h6 class="fs-16">Showing all results</h6>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row">
        <div class="col-lg-12">
          <div class="job-box card mt-4"
               *ngFor="let j of jobs | paginate: { itemsPerPage: 5, currentPage: p }| search: searchText,index as i">
            <div class="p-4">
              <div class="row">
                <div class="col-lg-2">
                  <a href="" [routerLink]="['/company-detail/', j.company.id]">
                    <img
                      height="55" width="55"
                      src="{{j.company.avatar?j.company.avatar:'https://res.cloudinary.com/dunsguide/image/upload/b_white,c_pad,d_defaults:default_company_logo.png,dpr_auto,h_180,w_180/v1/defaults/default_company_logo.png'}}"
                      alt="" class="img-fluid rounded-3"></a>
                </div>
                <div class="col-lg-10">
                  <div class="mt-3 mt-lg-0">
                    <h5 class="fs-17 mb-1"><a [routerLink]="['/job-detail', j.id]" class="text-dark">{{j.title}}</a>
                      <small class="text-muted fw-normal">({{j.expYear}} + Yrs Exp.)</small></h5>
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item">
                        <p class="text-muted fs-14 mb-0">{{j.company.name}}</p>
                      </li>
                      <li class="list-inline-item">
                        <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> {{j.location.name}}</p>
                      </li>
                      <li class="list-inline-item">
                        <p class="text-muted fs-14 mb-0"><i class="uil uil-wallet"></i> ${{j.salaryMin}} -
                          ${{j.salaryMax}}
                          /month
                        </p>
                      </li>
                    </ul>
                    <div class="mt-2">
                      <span class="badge bg-soft-success mt-1" *ngIf="j.type">Full Time</span>
                      <span class="badge bg-soft-warning mt-1" *ngIf="!j.type">Part Time</span>
                    </div>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div>
            <div class="p-3 bg-light">
              <div class="row">
                <div class="col-md-10">
                  <div>
                    <p class="text-muted mb-0"><span
                      class="text-dark">Experience :</span> {{j?.expYear}}+ years</p>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-2 col-md-2">
                  <div class="text-start text-md-end">
                    <a href="" (click)="openCancelModal(j.id)" data-bs-toggle="modal" class="primary-link"
                    >Cancel Job<i
                      class="mdi mdi-chevron-double-right"></i></a>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
          </div>
          <!--end job-box-->

          <div class="row" *ngIf="this.jobs.length != 0">
            <pagination-controls class="text-center mt-5" (pageChange)="p = $event">
            </pagination-controls>
          </div><!--end row-->
        </div><!-- end row -->

        <!--end container-->
      </div>
    </div>
  </section>

</div><!-- END JOB-LIST -->

<!-- End Page-content -->
<app-footer></app-footer>

<p-toast position="top-right"></p-toast>

<!-- Reject Job Modal -->
<button type="button" class="btn btn-primary waves-effect waves-light"
        id="openCancelModal"
        hidden="true"
        data-bs-toggle="modal" data-bs-target="#cancelJobModal"></button>
<div class="modal fade" id="cancelJobModal" tabindex="-1" aria-labelledby="deleteModal"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Cancel Job</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <h6 class="text-danger"><i
            class="uil uil-exclamation-triangle"></i> Are you sure to cancel?
          </h6>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Cancel
        </button>

        <button type="button" class="btn btn-danger btn-sm"
                data-bs-dismiss="modal"
                (click)="deleteJobId(modalId)">Yes, reject it
        </button>
      </div>
    </div>
  </div>
</div>
<!-- END Reject Job MODAL -->
