<app-header></app-header>
<div class="page-content">


  <!-- Start home -->
  <section class="page-title-box">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="text-center text-white">
            <h3 class="mb-4">Job Grid</h3>
            <div class="page-next">
              <nav class="d-inline-block" aria-label="breadcrumb text-center">
                <ol class="breadcrumb justify-content-center">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                  <li class="breadcrumb-item active" aria-current="page"> Job Grid</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!-- end home -->

  <!-- START SHAPE -->
  <div class="position-relative" style="z-index: 1">
    <div class="shape">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
        <path fill="#FFFFFF" fill-opacity="1"
              d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
      </svg>
    </div>
  </div>
  <!-- END SHAPE -->

  <section class="section">
    <div class="container">
      <div class="row mt-4">
        <div class="col-lg-12">
          <div class="mt-4">
            <h6 class="fs-16">Showing all results</h6>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row">
        <div class="col-lg-12">
          <div class="job-box card mt-4"
               *ngFor="let j of jobs | paginate: { itemsPerPage: 2, currentPage: p }| search: searchText,index as i">
            <div class="p-4">
              <div class="row">
                <div class="col-lg-2">
                  <a href="" [routerLink]="['/company-detail/', j.company.id]">
                    <img
                      src="{{j.company.avatar?j.company.avatar:'https://res.cloudinary.com/dunsguide/image/upload/b_white,c_pad,d_defaults:default_company_logo.png,dpr_auto,h_180,w_180/v1/defaults/default_company_logo.png'}}"
                      alt="" class="img-fluid rounded-3"></a>
                </div>
                <div class="col-lg-10">
                  <div class="mt-3 mt-lg-0">
                    <h5 class="fs-17 mb-1"><a [routerLink]="['/job-detail', j.id]" class="text-dark">{{j.title}}</a>
                      <small class="text-muted fw-normal">({{j.expYear}} + Yrs Exp.)</small></h5>
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item">
                        <p class="text-muted fs-14 mb-0">{{j.company.name}}</p>
                      </li>
                      <li class="list-inline-item">
                        <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> {{j.location.name}}</p>
                      </li>
                      <li class="list-inline-item">
                        <p class="text-muted fs-14 mb-0"><i class="uil uil-wallet"></i> ${{j.salaryMin}} - ${{j.salaryMax}}
                          /month
                        </p>
                      </li>
                    </ul>
                    <div class="mt-2">
                      <span class="badge bg-soft-success mt-1" *ngIf="j.type">Full Time</span>
                      <span class="badge bg-soft-warning mt-1" *ngIf="!j.type">Part Time</span>
                    </div>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div>
            <div class="p-3 bg-light">
              <div class="row justify-content-between">
                <div class="col-md-8">
                  <div>
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item"><i class="uil uil-tag"></i> Keywords :</li>
                      <li class="list-inline-item"><a href="javascript:void(0)"
                                                      class="primary-link text-muted">{{j.position}}</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="text-md-end">
                    <a  class="primary-link" (click)="deleteJob(this.candidateId,j?.id)">Cancel
                      Job <i class="mdi mdi-chevron-double-right"></i></a>
                  </div>
                </div>
              </div>
              <!--end row-->
            </div>
          </div>
          <!--end job-box-->


          <div class="row">
            <pagination-controls class="text-center mt-5" (pageChange)="p = $event" >
            </pagination-controls>
          </div><!--end col-->

        </div><!-- end row -->

        <!--end container-->
      </div>
    </div>
  </section>

</div>

<!-- END JOB-LIST -->

<!-- End Page-content -->
<app-footer></app-footer>


<!--show notification-->
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

