<div class="page-content">

  <!-- START COMING-SOON -->
  <section class="bg-coming-soon bg-auth">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="text-center">
            <div class="mb-4 pb-3">
              <img src="assets/images/animat-rocket-color.gif" alt="" height="150" class="mg-fluid">
              <!-- <img src="assets/images/coming-soon.png" alt="" class="img-fluid"> -->
            </div>
            <h1>We're Launching Soon..!!</h1>
            <p class="text-muted mb-4 pb-3">Start working with 404 Team that can provide everything you need to generate awareness, drive traffic, connect.</p>
            <div id="countdown" class="d-flex"></div>
            <form action="#" class="coming-soon-subacribe mt-4">
              <div class="input-group mb-3">
                <input type="text" class="form-control text-dark" placeholder="Enter your email">
                <button class="btn btn-primary" type="button">Subscribe</button>
              </div>
            </form>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section>
  <!-- END COMING-SOON -->

</div>
<!-- End Page-content -->
