<app-header></app-header>
<div class="page-content">

  <!-- START HOME -->
  <section class="bg-home3" id="home">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="mb-4 pb-3 me-lg-5">
            <h6 class="sub-title">We have 150,000+ live jobs</h6>
            <h1 class="display-5 fw-semibold mb-3">Thousand of Jobs is Waiting for you</h1>
            <p class="fs-18 text-muted mb-0">Find jobs, create trackable resumes and enrich your
              applications.Carefully crafted after analyzing the needs of different
              industries.</p>
          </div>
          <form [formGroup]="searchJobs" id="formSearchJobTopBar" (ngSubmit)="searchJobsOnPage()">
            <div class="registration-form">
              <div class="row g-0">
                <div class="col-md-4">
                  <div class="filter-search-form filter-border mt-3 mt-md-0">
                    <i class="uil uil-briefcase-alt"></i>
                    <input type="search"
                           class="form-control filter-input-box"
                           id="exampleFormControlInput1" name="search"
                           placeholder="Job, Company name..." formControlName="text">
                  </div>
                </div><!--end col-->
                <div class="col-md-4">
                  <div class="filter-search-form mt-3 mt-md-0" formGroupName="location">
                    <select class="form-select filter-input-box"
                            data-trigger name="choices-single-location"
                            aria-label="Default select example"
                            formControlName="l_id">
                      <option value="all_l">Choose location</option>
                      <option *ngFor="let l of locations" [value]="l.id">{{l.name}}</option>
                    </select>
                  </div>
                </div><!--end col-->
                <div class="col-md-4">
                  <div class="mt-3 mt-md-0 h-100">
                    <button class="btn btn-primary submit-btn w-100 h-100" type="submit"><i
                      class="uil uil-search me-1" ></i> Find Job
                    </button>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div>
          </form>
        </div>
        <!--end col-->
        <div class="col-lg-5">
          <div class="mt-5 mt-lg-0 ms-xl-5">
            <div class="quote-icon">
              <i class="mdi mdi-format-quote-open icon"></i>
              <i class="mdi mdi-format-quote-open icon-2 text-primary"></i>
            </div>
            <div class="swiper homeslider">

              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="home-slide-box text-center">
                    <img src="assets/images/home/img-02.png" alt=""
                         class="img-fluid rounded-3">
                    <div class="bg-overlay"></div>
                    <div class="home-slide-content p-4">
                      <h2 class="slide-para fw-normal text-white">" It looks perfect on
                        all major browsers, tablets,
                        and mobile devices."</h2>
                      <h6 class="text-white">- MichaeL Drake</h6>
                    </div>
                  </div>
                </div><!--swiper-slide-->
                <div class="swiper-slide">
                  <div class="home-slide-box text-center">
                    <img src="assets/images/home/img-03.png" alt=""
                         class="img-fluid rounded-3">
                    <div class="bg-overlay"></div>
                    <div class="home-slide-content p-4">
                      <h2 class="slide-para fw-normal text-white">" This template is well
                        organized and very easy to
                        customize. "</h2>
                      <h6 class="text-white">- Charles Dickens</h6>
                    </div>
                  </div>
                </div><!--swiper-slide-->
                <div class="swiper-slide">
                  <div class="home-slide-box text-center">
                    <img src="assets/images/home/img-04.png" alt=""
                         class="img-fluid rounded-3">
                    <div class="bg-overlay"></div>
                    <div class="home-slide-content p-4">
                      <h2 class="slide-para fw-normal text-white">" All your client
                        websites if you are an agency or
                        freelancer. "</h2>
                      <h6 class="text-white">- Rebecca Swartz</h6>
                    </div>
                  </div>
                </div><!--swiper-slide-->
              </div><!--end sw-->
            </div><!--end swiper-->
          </div>
        </div><!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!-- End Home -->

  <!-- START JOB-LIST -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-title text-center mb-4 pb-2">
            <h4 class="title">New & Random Jobs</h4>
            <p class="text-muted mb-1">Post a job to tell us about your project. We'll quickly match
              you
              with the right freelancers.</p>
          </div>
        </div><!--end col-->
      </div>
      <!--end row-->
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <ul class="job-list-menu nav nav-pills nav-justified flex-column flex-sm-row mb-4"
              id="pills-tab"
              role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="recent-jobs-tab" data-bs-toggle="pill"
                      data-bs-target="#recent-jobs" type="button" role="tab"
                      aria-controls="recent-jobs"
                      aria-selected="true">Recent Jobs
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="top-offer-tab" data-bs-toggle="pill"
                      data-bs-target="#top-offer" type="button" role="tab"
                      aria-controls="top-offer"
                      aria-selected="false">Random
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="top-demand-tab" data-bs-toggle="pill"
                      data-bs-target="#top-demand" type="button" role="tab"
                      aria-controls="top-demand"
                      aria-selected="false">Top Demand
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="part-time-tab" data-bs-toggle="pill"
                      data-bs-target="#part-time" type="button" role="tab"
                      aria-controls="part-time"
                      aria-selected="false">Part Time
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="full-time-tab" data-bs-toggle="pill"
                      data-bs-target="#full-time" type="button" role="tab"
                      aria-controls="full-time"
                      aria-selected="false">Full Time
              </button>
            </li>
          </ul>
        </div>
        <!--end col-->
      </div>
      <!--end row-->

      <div class="row">
        <div class="col-lg-12">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="recent-jobs" role="tabpanel"
                 aria-labelledby="recent-jobs-tab">
              <div class="job-box card mt-4" *ngFor="let j of jobs.reverse() | slice:0:4">
                <div class="p-4">
                  <div class="row align-items-center">
                    <div class="col-md-2">
                      <div class="text-center mb-4 mb-md-0">
                        <a href="" [routerLink]="['/company-detail/',j.company.id]"><img
                          height="55" width="55"
                          src="{{j.company.avatar}}" alt=""
                          class="img-fluid rounded-3"></a>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                      <div class="mb-2 mb-md-0">
                        <h5 class="fs-18 mb-1"><a href="" [routerLink]="['/job-detail/',j.id]"
                                                  class="text-dark">{{j.title}}</a>
                        </h5>
                        <p class="text-muted fs-14 mb-0">{{j.company.name}}</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <i class="mdi mdi-map-marker text-primary me-1"></i>
                        </div>
                        <p class="text-muted mb-0">{{j.location.name}}</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-2">
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <i class="mdi mdi-clock-outline text-primary me-1"></i>
                        </div>
                        <p class="text-muted mb-0">{{j.expiredDate}}</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-2">
                      <div>
                        <span class="badge bg-soft-success fs-13 mt-1" *ngIf="j.type">Full time</span>
                        <span class="badge bg-soft-purple fs-13 mt-1" *ngIf="!j.type">Part time</span>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
                <div class="p-3 bg-light">
                  <div class="row">
                    <div class="col-md-4">
                      <div>
                        <p class="text-muted mb-0"><span
                          class="text-dark">Experience :</span> {{j.expYear}}+ years</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-6 col-md-5">
                      <div>
                        <p class="text-muted mb-0"><span
                          class="text-dark">Notes :</span>
                          languages only differ in their grammar. </p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-2 col-md-3">
                      <div class="text-start text-md-end">
                        <a href="" [routerLink]="['/job-detail/',j.id]" data-bs-toggle="modal" class="primary-link">Details <i
                            class="mdi mdi-chevron-double-right"></i></a>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
              </div>
              <!--end job-box-->
              <div class="text-center mt-4 pt-2">
                <a href="" routerLink="/job" class="btn btn-primary">View More <i
                  class="uil uil-arrow-right"></i></a>
              </div>
            </div>
            <!--end recent-jobs-tab-->

            <div class="tab-pane fade" id="top-offer" role="tabpanel"
                 aria-labelledby="top-offer-tab">
              <div class="job-box bookmark-post card mt-4" *ngFor="let j of topOfferJobs.reverse()| slice:0:4">
                <div class="p-4">
                  <div class="row align-items-center">
                    <div class="col-md-2">
                      <div class="text-center mb-4 mb-md-0">
                        <a href="" [routerLink]="['/company-detail/',j.company.id]"><img
                          src="{{j.company.avatar}}" alt=""
                          height="55" width="55"
                          class="img-fluid rounded-3"></a>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                      <div class="mb-2 mb-md-0">
                        <h5 class="fs-18 mb-1"><a href="" [routerLink]="['/job-detail/',j.id]"
                                                  class="text-dark">{{j.title}}</a>
                        </h5>
                        <p class="text-muted fs-14 mb-0">{{j.company.name}}</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <i class="mdi mdi-map-marker text-primary me-1"></i>
                        </div>
                        <p class="text-muted mb-0">{{j.location.name}}</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-2">
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <i class="mdi mdi-clock-outline text-primary me-1"></i>
                        </div>
                        <p class="text-muted mb-0">{{j.expiredDate}}</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-2">
                      <div>
                        <span class="badge bg-soft-success fs-13 mt-1" *ngIf="j.type">Full time</span>
                        <span class="badge bg-soft-purple fs-13 mt-1" *ngIf="!j.type">Part time</span>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
                <div class="p-3 bg-light">
                  <div class="row">
                    <div class="col-md-4">
                      <div>
                        <p class="text-muted mb-0"><span
                          class="text-dark">Experience :</span> {{j.expYear}}+ years</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-6 col-md-5">
                      <div>
                        <p class="text-muted mb-0"><span
                          class="text-dark">Notes :</span>
                          languages only differ in their grammar. </p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-2 col-md-3">
                      <div class="text-start text-md-end">
                        <a href="" [routerLink]="['/job-detail/',j.id]" data-bs-toggle="modal" class="primary-link">Details<i
                          class="mdi mdi-chevron-double-right"></i></a>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
              </div>
              <!--end job-box-->
              <div class="text-center mt-4 pt-2">
                <a href="" routerLink="/job" class="btn btn-primary">View More <i
                  class="uil uil-arrow-right"></i></a>
              </div>
            </div>
            <!--end top-offer-tab-->

            <div class="tab-pane fade" id="top-demand" role="tabpanel"
                 aria-labelledby="top-demand-tab">
              <div class="job-box bookmark-post card mt-4" *ngFor="let j of highDemandJobs.reverse()| slice:0:4">
                <div class="p-4">
                  <div class="row align-items-center">
                    <div class="col-md-2">
                      <div class="text-center mb-4 mb-md-0">
                        <a href="" [routerLink]="['/company-detail/',j.company.id]"><img
                          src="{{j.company.avatar}}" alt=""
                          height="55" width="55"
                          class="img-fluid rounded-3"></a>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                      <div class="mb-2 mb-md-0">
                        <h5 class="fs-18 mb-1"><a href="" [routerLink]="['/job-detail/',j.id]"
                                                  class="text-dark">{{j.title}}</a>
                        </h5>
                        <p class="text-muted fs-14 mb-0">{{j.company.name}}</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <i class="mdi mdi-map-marker text-primary me-1"></i>
                        </div>
                        <p class="text-muted mb-0">{{j.location.name}}</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-2">
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <i class="mdi mdi-human-male-male text-primary me-1"></i>
                        </div>
                        <p class="text-muted mb-0">{{j.quantity}}</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-2">
                      <div>
                        <span class="badge bg-soft-success fs-13 mt-1" *ngIf="j.type">Full time</span>
                        <span class="badge bg-soft-purple fs-13 mt-1" *ngIf="!j.type">Part time</span>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
                <div class="p-3 bg-light">
                  <div class="row">
                    <div class="col-md-4">
                      <div>
                        <p class="text-muted mb-0"><span
                          class="text-dark">Experience :</span> {{j.expYear}}+ years</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-6 col-md-5">
                      <div>
                        <p class="text-muted mb-0"><span
                          class="text-dark">Notes :</span>
                          languages only differ in their grammar. </p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-2 col-md-3">
                      <div class="text-start text-md-end">
                        <a href="" [routerLink]="['/job-detail/',j.id]" data-bs-toggle="modal" class="primary-link">Details<i
                          class="mdi mdi-chevron-double-right"></i></a>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
              </div>
              <!--end job-box-->
              <div class="text-center mt-4 pt-2">
                <a href="" routerLink="/job" class="btn btn-primary">View More <i
                  class="uil uil-arrow-right"></i></a>
              </div>
            </div>
            <!--end top-demand-tab-->

            <div class="tab-pane fade" id="part-time" role="tabpanel"
                 aria-labelledby="part-time-tab">
              <div class="job-box bookmark-post card mt-4" *ngFor="let j of partTimeJobs.reverse() | slice:0:4">
                <div class="p-4">
                  <div class="row align-items-center">
                    <div class="col-md-2">
                      <div class="text-center mb-4 mb-md-0">
                        <a href="" [routerLink]="['/company-detail/',j.company.id]"><img
                          src="{{j.company.avatar}}" alt=""
                          height="55" width="55"
                          class="img-fluid rounded-3"></a>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                      <div class="mb-2 mb-md-0">
                        <h5 class="fs-18 mb-1"><a href="" [routerLink]="['/job-detail/',j.id]"
                                                  class="text-dark">{{j.title}}</a>
                        </h5>
                        <p class="text-muted fs-14 mb-0">{{j.company.name}}</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <i class="mdi mdi-map-marker text-primary me-1"></i>
                        </div>
                        <p class="text-muted mb-0">{{j.location.name}}</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-2">
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <i class="mdi mdi-clock-outline text-primary me-1"></i>
                        </div>
                        <p class="text-muted mb-0">{{j.expiredDate}}</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-2">
                      <div>
                        <span class="badge bg-soft-success fs-13 mt-1" *ngIf="j.type">Full time</span>
                        <span class="badge bg-soft-purple fs-13 mt-1" *ngIf="!j.type">Part time</span>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
                <div class="p-3 bg-light">
                  <div class="row">
                    <div class="col-md-4">
                      <div>
                        <p class="text-muted mb-0"><span
                          class="text-dark">Experience :</span> {{j.expYear}}+ years</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-6 col-md-5">
                      <div>
                        <p class="text-muted mb-0"><span
                          class="text-dark">Notes :</span>
                          languages only differ in their grammar. </p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-2 col-md-3">
                      <div class="text-start text-md-end">
                        <a href="" [routerLink]="['/job-detail/',j.id]" data-bs-toggle="modal" class="primary-link">Details<i
                            class="mdi mdi-chevron-double-right"></i></a>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
              </div>
              <!--end job-box-->
              <div class="text-center mt-4 pt-2">
                <a href="" routerLink="/job" class="btn btn-primary">View More <i
                  class="uil uil-arrow-right"></i></a>
              </div>
            </div>
            <!--end part-time-tab-->

            <div class="tab-pane fade" id="full-time" role="tabpanel"
                 aria-labelledby="full-time-tab">
              <div class="job-box bookmark-post card mt-4" *ngFor="let j of fullTimeJobs.reverse() | slice:0:4">
                <div class="p-4">
                  <div class="row align-items-center">
                    <div class="col-md-2">
                      <div class="text-center mb-4 mb-md-0">
                        <a href="" [routerLink]="['/company-detail/',j.company.id]"><img
                          height="55" width="55"
                          src="{{j.company.avatar}}" alt=""
                          class="img-fluid rounded-3"></a>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                      <div class="mb-2 mb-md-0">
                        <h5 class="fs-18 mb-1"><a href="" [routerLink]="['/job-detail/', j.id]"
                                                  class="text-dark">{{j.title}}</a>
                        </h5>
                        <p class="text-muted fs-14 mb-0">{{j.company.name}}</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <i class="mdi mdi-map-marker text-primary me-1"></i>
                        </div>
                        <p class="text-muted mb-0">{{j.location.name}}</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-2">
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <i class="mdi mdi-clock-outline text-primary me-1"></i>
                        </div>
                        <p class="text-muted mb-0">{{j.expiredDate}}</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-2">
                      <div>
                        <span class="badge bg-soft-success fs-13 mt-1" *ngIf="j.type">Full time</span>
                        <span class="badge bg-soft-purple fs-13 mt-1" *ngIf="!j.type">Part time</span>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
                <div class="p-3 bg-light">
                  <div class="row">
                    <div class="col-md-4">
                      <div>
                        <p class="text-muted mb-0"><span
                          class="text-dark">Experience :</span> {{j.expYear}}+ years</p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-6 col-md-5">
                      <div>
                        <p class="text-muted mb-0"><span
                          class="text-dark">Notes :</span>
                          languages only differ in their grammar. </p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-2 col-md-3">
                      <div class="text-start text-md-end">
                        <a href="" [routerLink]="['/job-detail/',j.id]" data-bs-toggle="modal" class="primary-link">Details<i
                            class="mdi mdi-chevron-double-right"></i></a>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
              </div>
              <!--end job-box-->
              <div class="text-center mt-4 pt-2">
                <a href="" routerLink="/job" class="btn btn-primary">View More <i
                  class="uil uil-arrow-right"></i></a>
              </div>
            </div>
            <!--end full-time-tab-->
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!-- END JOB-LIST -->

  <!-- START PROCESS -->
  <section class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="section-title me-5">
            <h3 class="title">How It Work</h3>
            <p class="text-muted">Post a job to tell us about your project. We'll quickly match you
              with the
              right freelancers.</p>
            <div class="process-menu nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                 href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                 aria-selected="true">
                <div class="d-flex">
                  <div class="number flex-shrink-0">
                    1
                  </div>
                  <div class="flex-grow-1 text-start ms-3">
                    <h5 class="fs-18">Register an account</h5>
                    <p class="text-muted mb-0">Due to its widespread use as filler text for
                      layouts, non-readability
                      is of great importance.</p>
                  </div>
                </div>
              </a>
              <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                 href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                 aria-selected="false">
                <div class="d-flex">
                  <div class="number flex-shrink-0">
                    2
                  </div>
                  <div class="flex-grow-1 text-start ms-3">
                    <h5 class="fs-18">Find your job</h5>
                    <p class="text-muted mb-0">There are many variations of passages of
                      avaibookmark-label, but the majority
                      alteration in some form.</p>
                  </div>
                </div>
              </a>
              <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                 href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                 aria-selected="false">
                <div class=" d-flex">
                  <div class="number flex-shrink-0">
                    3
                  </div>
                  <div class="flex-grow-1 text-start ms-3">
                    <h5 class="fs-18">Apply for job</h5>
                    <p class="text-muted mb-0">It is a long established fact that a reader
                      will be distracted by the
                      readable content of a page.</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div><!--end col-->
        <div class="col-lg-6">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                 aria-labelledby="v-pills-home-tab">
              <img src="assets/images/process-01.png" alt="" class="img-fluid">
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                 aria-labelledby="v-pills-profile-tab">
              <img src="assets/images/process-02.png" alt="" class="img-fluid">
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                 aria-labelledby="v-pills-messages-tab">
              <img src="assets/images/process-03.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div> <!--end row-->
    </div><!--end container-->
  </section>
  <!-- END PROCESS -->

  <!--START CTA-->
  <section class="section bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="text-center">
            <h2 class="text-primary mb-4">Browse Our <span
              class="text-warning fw-bold">5,000+</span> Latest
              Jobs</h2>
            <p class="text-muted">Post a job to tell us about your project. We'll quickly match you
              with
              the right freelancers.</p>
            <div class="mt-4 pt-2">
              <a href="" routerLink="/job" class="btn btn-primary btn-hover">Started Now <i
                class="uil uil-rocket align-middle"></i></a>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section>
  <!--END CTA-->

  <!-- START TESTIMONIAL -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-title text-center mb-4 pb-2">
            <h3 class="title mb-3">Happy Candidates</h3>
            <p class="text-muted">Post a job to tell us about your project. We'll quickly match you
              with the
              right freelancers.</p>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="swiper testimonialSlider pb-5">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card testi-box">
                  <div class="card-body">
                    <div class="mb-4">
                      <img src="assets/images/logo/mailchimp.svg" height="50" alt=""/>
                    </div>
                    <p class="testi-content lead text-muted mb-4">" Very well thought out
                      and articulate communication.
                      Clear milestones, deadlines and fast work. Patience. Infinite
                      patience. No
                      shortcuts. Even if the client is being careless. "</p>
                    <h5 class="mb-0">Jeffrey Montgomery</h5>
                    <p class="text-muted mb-0">Product Manager</p>
                  </div>
                </div>
              </div><!--end swiper-slide-->
              <div class="swiper-slide">
                <div class="card testi-box">
                  <div class="card-body">
                    <div class="mb-4">
                      <img src="assets/images/logo/wordpress.svg" height="50" alt=""/>
                    </div>
                    <p class="testi-content lead text-muted mb-4">" Very well thought out
                      and articulate communication.
                      Clear milestones, deadlines and fast work. Patience. Infinite
                      patience. No
                      shortcuts. Even if the client is being careless. "</p>
                    <h5 class="mb-0">Rebecca Swartz</h5>
                    <p class="text-muted mb-0">Creative Designer</p>
                  </div>
                </div>
              </div><!--end swiper-slide-->
              <div class="swiper-slide">
                <div class="card testi-box">
                  <div class="card-body">
                    <div class="mb-4">
                      <img src="assets/images/logo/instagram.svg" height="50" alt=""/>
                    </div>
                    <p class="testi-content lead text-muted mb-4">" Very well thought out
                      and articulate communication.
                      Clear milestones, deadlines and fast work. Patience. Infinite
                      patience. No
                      shortcuts. Even if the client is being careless. "</p>
                    <h5 class="mb-0">Charles Dickens</h5>
                    <p class="text-muted mb-0">Store Assistant</p>
                  </div>
                </div>
              </div><!--end swiper-slide-->
            </div>
            <!--end swiper-wrapper-->
            <div class="swiper-pagination"></div>
          </div>
          <!--end swiper-container  -->
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
  </section>
  <!-- END TESTIMONIAL -->

  <!-- START BLOG -->
  <section class="section bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-title text-center mb-5">
            <h3 class="title mb-3">Quick Career Tips</h3>
            <p class="text-muted">Post a job to tell us about your project. We'll quickly match you
              with the
              right freelancers.</p>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="blog-box card p-2 mt-3">
            <div class="blog-img position-relative overflow-hidden">
              <img src="assets/images/blog/img-01.jpg" alt="" class="img-fluid">
              <div class="bg-overlay"></div>
              <div class="author">
                <p class=" mb-0"><i class="mdi mdi-account text-light"></i> <a
                  href="javascript:void(0)"
                  class="text-light user">Dirio Walls</a></p>
                <p class="text-light mb-0 date"><i class="mdi mdi-calendar-check"></i> 01 July,
                  2021</p>
              </div>
              <div class="likes">
                <ul class="list-unstyled mb-0">
                  <li class="list-inline-item"><a href="javascript:void(0)"
                                                  class="text-white"><i
                    class="mdi mdi-heart-outline me-1"></i> 33</a></li>
                  <li class="list-inline-item"><a href="javascript:void(0)"
                                                  class="text-white"><i
                    class="mdi mdi-comment-outline me-1"></i> 08</a></li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <a href="javascript:void(0)" class="primary-link">
                <h5 class="fs-17">How apps is the IT world ?</h5>
              </a>
              <p class="text-muted">The final text is not yet avaibookmark-label. Dummy texts have
                Internet tend
                been in use by typesetters.</p>
              <a href="javascript:void(0)" class="form-text text-primary">Read more <i
                class="mdi mdi-chevron-right align-middle"></i></a>
            </div>
          </div><!--end blog-box-->
        </div><!--end col-->

        <div class="col-lg-4 col-md-6">
          <div class="blog-box card p-2 mt-3">
            <div class="blog-img position-relative overflow-hidden">
              <img src="assets/images/blog/img-02.jpg" alt="" class="img-fluid">
              <div class="bg-overlay"></div>
              <div class="author">
                <p class=" mb-0"><i class="mdi mdi-account text-light"></i> <a
                  href="javascript:void(0)"
                  class="text-light user">Brandon Carney</a></p>
                <p class="text-light mb-0 date"><i class="mdi mdi-calendar-check"></i> 25 June,
                  2021</p>
              </div>
              <div class="likes">
                <ul class="list-unstyled mb-0">
                  <li class="list-inline-item"><a href="javascript:void(0)"
                                                  class="text-white"><i
                    class="mdi mdi-heart-outline me-1"></i> 44</a></li>
                  <li class="list-inline-item"><a href="javascript:void(0)"
                                                  class="text-white"><i
                    class="mdi mdi-comment-outline me-1"></i> 25</a></li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <a href="javascript:void(0)" class="primary-link">
                <h5 class="fs-17">Smartest Applications for Business ?</h5>
              </a>
              <p class="text-muted">Due to its widespread use as filler text for layouts,
                non-readability
                is of great importance: human perception.</p>
              <a href="javascript:void(0)" class="form-text text-primary">Read more <i
                class="mdi mdi-chevron-right align-middle"></i></a>
            </div>
          </div><!--end blog-box-->
        </div><!--end col-->

        <div class="col-lg-4 col-md-6">
          <div class="blog-box card p-2 mt-3">
            <div class="blog-img position-relative overflow-hidden">
              <img src="assets/images/blog/img-03.jpg" alt="" class="img-fluid">
              <div class="bg-overlay"></div>
              <div class="author">
                <p class=" mb-0"><i class="mdi mdi-account text-light"></i> <a
                  href="javascript:void(0)"
                  class="text-light user">William Mooneyhan</a></p>
                <p class="text-light mb-0 date"><i class="mdi mdi-calendar-check"></i> 16 March,
                  2021
                </p>
              </div>
              <div class="likes">
                <ul class="list-unstyled mb-0">
                  <li class="list-inline-item"><a href="javascript:void(0)"
                                                  class="text-white"><i
                    class="mdi mdi-heart-outline me-1"></i> 68</a></li>
                  <li class="list-inline-item"><a href="javascript:void(0)"
                                                  class="text-white"><i
                    class="mdi mdi-comment-outline me-1"></i> 20</a></li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <a href="javascript:void(0)" class="primary-link">
                <h5 class="fs-17">Design your apps in your own way ?</h5>
              </a>
              <p class="text-muted">One disadvantage of Lorum Ipsum is that in Latin certain
                letters
                appear more frequently than others.</p>
              <a href="javascript:void(0)" class="form-text text-primary">Read more <i
                class="mdi mdi-chevron-right align-middle"></i></a>
            </div>
          </div><!--end blog-box-->
        </div><!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!-- END BLOG -->

  <!-- START CLIENT -->
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="text-center p-3">
            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title=""
               data-bs-original-title="Woocommerce">
              <img src="assets/images/logo/logo-01.png" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <!--end col-->
        <div class="col-lg-2">
          <div class="text-center p-3">
            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title=""
               data-bs-original-title="Envato">
              <img src="assets/images/logo/logo-02.png" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <!--end col-->
        <div class="col-lg-2">
          <div class="text-center p-3">
            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title=""
               data-bs-original-title="Magento">
              <img src="assets/images/logo/logo-03.png" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <!--end col-->
        <div class="col-lg-2">
          <div class="text-center p-3">
            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title=""
               data-bs-original-title="Wordpress">
              <img src="assets/images/logo/logo-04.png" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <!--end col-->
        <div class="col-lg-2">
          <div class="text-center p-3">
            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title=""
               data-bs-original-title="Generic">
              <img src="assets/images/logo/logo-05.png" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="text-center p-3">
            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title=""
               data-bs-original-title="Reveal">
              <img src="assets/images/logo/logo-06.png" alt="" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </div>
  <!-- END CLIENT -->

  <!-- START APPLY MODAL -->
  <div class="modal fade" id="applyNow" tabindex="-1" aria-labelledby="applyNow" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-5">
          <div class="text-center mb-4">
            <h5 class="modal-title" id="staticBackdropLabel">Apply For This Job</h5>
          </div>
          <div class="position-absolute end-0 top-0 p-3">
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="mb-3">
            <label for="nameControlInput" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameControlInput"
                   placeholder="Enter your name">
          </div>
          <div class="mb-3">
            <label for="emailControlInput2" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="emailControlInput2"
                   placeholder="Enter your email">
          </div>
          <div class="mb-3">
            <label for="messageControlTextarea" class="form-label">Message</label>
            <textarea class="form-control" id="messageControlTextarea" rows="4"
                      placeholder="Enter your message"></textarea>
          </div>
          <div class="mb-4">
            <label class="form-label" for="inputGroupFile01">Resume Upload</label>
            <input type="file" class="form-control" id="inputGroupFile01">
          </div>
          <button type="submit" class="btn btn-primary w-100">Send Application</button>
        </div>
      </div>
    </div>
  </div><!-- END APPLY MODAL -->

</div>
<app-footer></app-footer>


<p-toast></p-toast>
<p-toast position="top-left" key="tc"></p-toast>
<p-toast position="top-center" key="ab"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="grid p-fluid">
        <div class="col-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
<p-toast>
  <div class="card">
    <h5>Severities</h5>
    <button type="button" pButton pRipple (click)="showSuccess()" label="Success" class="p-button-success mb-2"></button>
    <button type="button" pButton pRipple (click)="showInfo()" label="Info" class="p-button-info mb-2"></button>
    <button type="button" pButton pRipple (click)="showWarn()" label="Warn" class="p-button-warning mb-2"></button>
    <button type="button" pButton pRipple (click)="showError()" label="Error" class="p-button-danger mb-2"></button>

    <h5>Positions</h5>
    <button type="button" pButton pRipple (click)="showTopLeft()" label="Top Left"></button>
    <button type="button" pButton pRipple (click)="showTopCenter()" label="Top Center" class="p-button-warning"></button>
    <button type="button" pButton pRipple (click)="showBottomCenter()" label="Bottom Center" class="p-button-success"></button>

    <h5>Multiple</h5>
    <button type="button" pButton pRipple (click)="showMultiple()" label="Multiple" class="p-button-warning"></button>
    <button type="button" pButton pRipple (click)="showSticky()" label="Sticky"></button>

    <h5>Clear</h5>
    <button type="button" pButton pRipple (click)="clear()" icon="pi pi-times" label="Clear"></button>

    <h5>Template</h5>
    <button type="button" pButton pRipple (click)="showConfirm()" label="Confirm" class="ui-button-warning"></button>
  </div>
</p-toast>
